<span>Prueba takeUntil</span>
<br />
<button id="button">Detener timer</button>

<br />
<br />
<br />
<span>Prueba debounceTime</span>
<br />
<input type="text" id="debounce" />

<br />
<br />
<br />
<span>Prueba throttleTime</span>
<br />
<input type="text" id="throttle" />

<br />
<br />
<br />
<span>Prueba mergeAll</span>
<br />
<input type="text" id="mergeAll" />

<br />
<br />
<br />
<span>Prueba mergeMap</span>
<br />
<input type="text" id="mergeMap" />

<br />
<br />
<br />
<span>Prueba switchMap</span>
<br />
<input type="text" id="switchMap" />
