<span class="progress-bar" [style.width.%]="width"></span>
<main style="margin-top: 20px">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec dolor
  iaculis, scelerisque nulla at, accumsan metus. Praesent non nisl non leo
  tempor varius. Mauris sit amet risus vestibulum, elementum nibh nec, sodales
  ex. Vivamus tempus tortor augue, et luctus ipsum tempor ac. Nam sed ipsum
  ligula. Suspendisse at mauris sagittis, rhoncus turpis a, pretium lectus. Duis
  tempus fringilla pretium. Praesent commodo pellentesque eros, quis venenatis
  tortor pulvinar eget. Nulla nec nulla id lectus tempus euismod. Donec id
  ornare arcu, nec sollicitudin libero. Maecenas turpis libero, faucibus et
  risus id, ultrices efficitur metus. Duis et urna erat. Aenean venenatis, dolor
  dignissim sodales ornare, massa arcu finibus magna, nec venenatis tellus urna
  et leo. Donec dictum justo nec elit bibendum, semper fringilla ante mollis.
  Sed sit amet urna placerat, interdum nulla in, tincidunt urna. Suspendisse
  nisl quam, tempus sit amet leo et, gravida varius nulla. Etiam bibendum augue
  eget nisi semper placerat. Cras bibendum magna at dui aliquet, ut efficitur
  elit efficitur. Maecenas accumsan mauris mi, a lacinia ligula fringilla et.
  Vivamus id eleifend sem. Sed mattis porttitor odio sit amet vestibulum. Etiam
  dignissim ligula sed sapien vehicula pretium. Nam non cursus eros. Vestibulum
  ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
  turpis egestas. Fusce leo ipsum, mattis sit amet gravida eget, ultrices vitae
  turpis. Sed orci ipsum, posuere nec turpis vitae, volutpat facilisis enim.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus rutrum
  sem. Ut at aliquam massa. Aliquam nulla ipsum, efficitur commodo tincidunt
  non, condimentum sit amet lacus. Sed non congue risus. Nullam facilisis risus
  felis, in suscipit lacus tincidunt vitae. Morbi tempor enim id metus cursus,
  ut cursus justo efficitur. Mauris pellentesque enim et est eleifend, a aliquam
  justo ullamcorper. Quisque blandit, tortor luctus accumsan auctor, magna nibh
  pulvinar libero, molestie fermentum mauris metus sit amet velit. Donec
  eleifend at urna a vehicula. Sed vel bibendum felis. Quisque faucibus rhoncus
  sollicitudin. Donec est tortor, vulputate in pellentesque id, dapibus vel
  nisi. Proin hendrerit ex ut felis accumsan malesuada. Fusce quis vehicula
  velit, id pharetra turpis. Orci varius natoque penatibus et magnis dis
  parturient montes, nascetur ridiculus mus. Ut sed convallis lectus. Fusce
  consectetur ornare fringilla. Aliquam lorem enim, pulvinar in tellus eget,
  consequat molestie mauris. Praesent id venenatis odio. Nunc lacinia lorem sit
  amet semper ultricies. Interdum et malesuada fames ac ante ipsum primis in
  faucibus. Integer sem sapien, dapibus a neque vitae, varius lacinia lectus.
  Nulla eget facilisis lectus, eget fermentum purus. Praesent quis sapien quis
  risus condimentum venenatis in non justo. Fusce fermentum mi a rhoncus
  pharetra. In ut tortor nec augue aliquet eleifend non ac nisl. Fusce vel lacus
  tristique, posuere ante eu, laoreet nulla. Praesent ante justo, pulvinar vitae
  sapien sit amet, imperdiet mollis ante. Aenean fermentum tincidunt est sed
  tempus. In dictum, sem in pulvinar vehicula, turpis ipsum rutrum nunc, rutrum
  suscipit felis dolor in mi. Quisque malesuada sodales est id mattis. Sed elit
  leo, molestie ut odio et, maximus fringilla risus. Curabitur dapibus diam vel
  sem porta, id viverra urna lacinia. Aliquam egestas erat velit, blandit
  tincidunt ipsum tincidunt a. Nunc vitae ornare tellus. Pellentesque habitant
  morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut
  vitae ligula vitae elit dictum venenatis vitae in libero. Nulla a felis
  aliquam, ultrices felis ac, imperdiet ligula. Lorem ipsum dolor sit amet,
  consectetur adipiscing elit. Quisque nec dolor iaculis, scelerisque nulla at,
  accumsan metus. Praesent non nisl non leo tempor varius. Mauris sit amet risus
  vestibulum, elementum nibh nec, sodales ex. Vivamus tempus tortor augue, et
  luctus ipsum tempor ac. Nam sed ipsum ligula. Suspendisse at mauris sagittis,
  rhoncus turpis a, pretium lectus. Duis tempus fringilla pretium. Praesent
  commodo pellentesque eros, quis venenatis tortor pulvinar eget. Nulla nec
  nulla id lectus tempus euismod. Donec id ornare arcu, nec sollicitudin libero.
  Maecenas turpis libero, faucibus et risus id, ultrices efficitur metus. Duis
  et urna erat. Aenean venenatis, dolor dignissim sodales ornare, massa arcu
  finibus magna, nec venenatis tellus urna et leo. Donec dictum justo nec elit
  bibendum, semper fringilla ante mollis. Sed sit amet urna placerat, interdum
  nulla in, tincidunt urna. Suspendisse nisl quam, tempus sit amet leo et,
  gravida varius nulla. Etiam bibendum augue eget nisi semper placerat. Cras
  bibendum magna at dui aliquet, ut efficitur elit efficitur. Maecenas accumsan
  mauris mi, a lacinia ligula fringilla et. Vivamus id eleifend sem. Sed mattis
  porttitor odio sit amet vestibulum. Etiam dignissim ligula sed sapien vehicula
  pretium. Nam non cursus eros. Vestibulum ante ipsum primis in faucibus orci
  luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi
  tristique senectus et netus et malesuada fames ac turpis egestas. Fusce leo
  ipsum, mattis sit amet gravida eget, ultrices vitae turpis. Sed orci ipsum,
  posuere nec turpis vitae, volutpat facilisis enim. Lorem ipsum dolor sit amet,
  consectetur adipiscing elit. Sed dapibus rutrum sem. Ut at aliquam massa.
  Aliquam nulla ipsum, efficitur commodo tincidunt non, condimentum sit amet
  lacus. Sed non congue risus. Nullam facilisis risus felis, in suscipit lacus
  tincidunt vitae. Morbi tempor enim id metus cursus, ut cursus justo efficitur.
  Mauris pellentesque enim et est eleifend, a aliquam justo ullamcorper. Quisque
  blandit, tortor luctus accumsan auctor, magna nibh pulvinar libero, molestie
  fermentum mauris metus sit amet velit. Donec eleifend at urna a vehicula. Sed
  vel bibendum felis. Quisque faucibus rhoncus sollicitudin. Donec est tortor,
  vulputate in pellentesque id, dapibus vel nisi. Proin hendrerit ex ut felis
  accumsan malesuada. Fusce quis vehicula velit, id pharetra turpis. Orci varius
  natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut
  sed convallis lectus. Fusce consectetur ornare fringilla. Aliquam lorem enim,
  pulvinar in tellus eget, consequat molestie mauris. Praesent id venenatis
  odio. Nunc lacinia lorem sit amet semper ultricies. Interdum et malesuada
  fames ac ante ipsum primis in faucibus. Integer sem sapien, dapibus a neque
  vitae, varius lacinia lectus. Nulla eget facilisis lectus, eget fermentum
  purus. Praesent quis sapien quis risus condimentum venenatis in non justo.
  Fusce fermentum mi a rhoncus pharetra. In ut tortor nec augue aliquet eleifend
  non ac nisl. Fusce vel lacus tristique, posuere ante eu, laoreet nulla.
  Praesent ante justo, pulvinar vitae sapien sit amet, imperdiet mollis ante.
  Aenean fermentum tincidunt est sed tempus. In dictum, sem in pulvinar
  vehicula, turpis ipsum rutrum nunc, rutrum suscipit felis dolor in mi. Quisque
  malesuada sodales est id mattis. Sed elit leo, molestie ut odio et, maximus
  fringilla risus. Curabitur dapibus diam vel sem porta, id viverra urna
  lacinia. Aliquam egestas erat velit, blandit tincidunt ipsum tincidunt a. Nunc
  vitae ornare tellus. Pellentesque habitant morbi tristique senectus et netus
  et malesuada fames ac turpis egestas. Ut vitae ligula vitae elit dictum
  venenatis vitae in libero. Nulla a felis aliquam, ultrices felis ac, imperdiet
  ligula.
</main>
